<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>EWSEmbedded</string>
	<key>CFBundleIdentifier</key>
	<string>com.eSellerate.EWSMac</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>EWSEmbedded</string>
	<key>CFBundlePackageType</key>
	<string>EWSm</string>
	<key>CFBundleShortVersionString</key>
	<string>5.0.0.2</string>
	<key>CFBundleSignature</key>
	<string>esel</string>
	<key>CFBundleVersion</key>
	<string>5.0.0.2</string>
	<key>NSPrincipalClass</key>
	<string>EWSController</string>
</dict>
</plist>
